table.dataTable thead .sorting_asc {
    background: url("../images/sort_asc.png") no-repeat center right;
}

table.dataTable thead .sorting_desc {
    background: url("../images/sort_desc.png") no-repeat center right;
}

table.dataTable thead .sorting {
    background: url("../images/sort_both.png") no-repeat center right;
}

.tab-pane {
    padding-top: 40px;
}

button.reply {
    display: block;
    margin-top: 5px;
}

span {
    cursor: pointer;
}

#create {
    margin-bottom: 20px;
}

.btn {
    margin-right: 5px;
}