    @font-face {
        font-family: abc;
        src: url(../fonts/Raleway-Light-vi.ttf);
    }
    
    #logo {
        font-size: 25px;
        color: white;
        padding-top: 22px;
        color: #cc9900;
        font-family: Comic Sans MS;
    }
    
    circle[Attributes Style] {
        cx: 75;
        cy: 75;
        r: 64;
        fill: rgb(255, 255, 255);
        stroke: rgb(255, 255, 255);
    }
    
    div {
        font-family: abc
    }
    
    hr.kengang {
        margin-top: 65px;
        height: 0px;
    }
    
    img.fire1 {
        margin-bottom: -55px;
        margin-left: 5px;
    }
    
    h3#streak {
        color: orange;
    }
    
    h3#level {
        margin-top: 70px;
        color: orange;
    }
    
    h4.target_every_day {
        font-weight: bold;
    }
    
    h3#exp {
        border: 5px solid lightgray;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        padding-top: 45px;
        color: orange;
    }
    
    .bgc {
        background-color: #e7e7e7;
    }
    
    .affix {
        top: 0;
        width: 100%;
    }
    
    .button {
        width: 110px;
    }
    
    .try-free {
        font-size: 40px;
        font-family: Impact;
        position: absolute;
        top: 260px;
        text-align: left;
    }
    
    .absolute {
        position: absolute;
        top: 120px;
    }
    /*main css*/
    
    .button-header {
        border-radius: 50px;
        height: 40px;
        min-width: 100px;
        font-weight: bold;
    }
    
    #theme {
        position: absolute;
        top: 110px;
        width: 100px;
        font-weight: bold;
    }
    
    #show-result {
        background-color: white;
        padding: 30px;
        border-radius: 15px;
    }
    
    .main-panel {
        background-color: white;
        margin: 30px 40px 40px 10px;
        padding: 20px 15px 20px 15px;
        border-radius: 15px;
        opacity: 0.85;
    }
    
    .right-panel {
        background-color: white;
        margin: 30px 0px 40px 0px;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }
    
    img.fire2 {
        margin-bottom: -14px;
        margin-left: 3px;
    }
    
    h3#target {
        border: 5px solid lightgray;
        border-radius: 100%;
        width: 130px;
        height: 130px;
        padding-top: 40px;
        color: orange;
        margin-left: 87px;
        margin-top: 0px;
    }
    
    .theme-box {
        margin-top: 20px;
        text-align: center;
    }
    
    .theme-div {
        display: inline-block;
        min-width: 85px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 30%;
        margin-top: 20px;
    }
    
    .theme-circle {
        cursor: pointer;
    }
    
    .theme-circle1 {
        background-color: #1caff6;
        border-radius: 98px;
        display: inline-block;
        height: 80px;
        margin-top: 12px;
        width: 80px;
    }
    
    .theme-circle2 {
        background-color: #ddd01d;
        border-radius: 98px;
        display: inline-block;
        height: 80px;
        margin-top: 12px;
        width: 80px;
    }
    
    .theme-circle3 {
        background-color: #7eb530;
        border-radius: 98px;
        display: inline-block;
        height: 80px;
        margin-top: 12px;
        width: 80px;
    }
    
    .theme-circle4 {
        background-color: #ee2222;
        border-radius: 98px;
        display: inline-block;
        height: 80px;
        margin-top: 12px;
        width: 80px;
    }
    
    .theme-circle-del {
        background-color: grey;
        border-radius: 98px;
        display: inline-block;
        height: 80px;
        margin-top: 12px;
        pointer-events: none;
        width: 80px;
        pointer-events: none;
        filter: grayscale(90%);
    }
    
    .theme-img {
        margin: 12px;
        height: 55px;
        width: 55px;
    }
    
    .theme-text {
        font-weight: bold;
        color: black;
        display: block;
    }
    
    .theme-name {
        text-align: center;
        display: block;
        position: relative;
        font-weight: bold;
        color: black;
    }
    
    .progress {
        display: inherit;
        width: 80px;
        height: 17px;
    }
    
    .test {
        text-align: center;
    }
    
    .button-test {
        width: 300px;
        height: 40px;
        border-radius: 98px;
        font-size: 18px;
        font-weight: bold;
        background-color: orange;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .level {
        height: 200px;
        font-size: 20px;
        padding-bottom: 30px;
        padding-top: 20px;
        opacity: 0.85;
        font-weight: bold;
    }
    
    .gold-btn {
        font-family: museo-sans-rounded, sans-serif!important;
        font-size: 17px;
    }
    
    .gold-btn-del {
        pointer-events: none;
        filter: grayscale(90%);
    }
    
    body {
        background-attachment: fixed;
    }
    
    div input {
        height: 22px;
    }
    
    div label {
        font-size: 20px;
    }
    
    #question-panel .panel-body {
        margin: 10px 10px 0px 10px !important;
        height: 300px;
    }
    
    textarea {
        font-size: 20px !important;
    }
    
    .alert-result {
        display: inline;
    }
    
    .group-button {
        background-color: #f0f0f0;
        padding: 40px 100px 50px 100px;
        opacity: 0.85;
    }
    
    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        height: 74px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.85;
    }
    
    .navbar-default {
        background-color: rgb(255, 255, 255);
        border-color: white;
        opacity: 0.85;
    }
    
    .display {
        font-family: 123;
        font-size: 16px;
        font-weight: bold;
    }
    
    .modal {
        text-align: center;
    }
    
    @media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 60%;
        }
    }
    
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }